#meuCarrossel.carousel {
    width: 65%
    /* Outras propriedades de estilo... */
  }

#cardCarrossel.carousel{
    width: 100%;
    
}
#cardCarrossel-3.carousel{
    width: 22%;
    
}
#cardCarrossel-4.carousel{
    width: 70%;
    
}
   
   
    